*.csv
*.xlsx
*.json
.ipynb
eon/
backup_eon/
media/
course/
coursevideo/
courseppt/
coursescorm/
files/
uploads/
.env
.env*
*.pdf
# *.txt
logs
reports
.idea
*__pycache__*
env
venv
.aws
test*.py
releases